@use './variables' as *;

:root {
  color-scheme: light dark;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: $background-color;
  color: $text-color;
}

a {
  color: inherit;
  text-decoration: none;
}
